Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.assets.cache
Tryitter-RD.Project.Test/obj/Debug/net6.0/Tryitter-RD.Project.Test.assets.cache
Tryitter-RD/obj/project.assets.json
Tryitter-RD/obj/project.nuget.cache
Tryitter-RD/obj/Tryitter-RD.csproj.nuget.dgspec.json
Tryitter-RD/obj/Tryitter-RD.csproj.nuget.g.props
Tryitter-RD/obj/Tryitter-RD.csproj.nuget.g.targets
Tryitter-RD.Project.Test/obj/project.assets.json
Tryitter-RD.Project.Test/obj/project.nuget.cache
Tryitter-RD.Project.Test/obj/Tryitter-RD.Project.Test.csproj.nuget.dgspec.json
Tryitter-RD.Project.Test/obj/Tryitter-RD.Project.Test.csproj.nuget.g.props
Tryitter-RD.Project.Test/obj/Tryitter-RD.Project.Test.csproj.nuget.g.targets
