Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.assets.cache
Tryitter-RD.Project.Test/obj/Debug/net6.0/Tryitter-RD.Project.Test.assets.cache
Tryitter-RD/obj/project.assets.json
Tryitter-RD/obj/project.nuget.cache
Tryitter-RD/obj/Tryitter-RD.csproj.nuget.dgspec.json
Tryitter-RD/obj/Tryitter-RD.csproj.nuget.g.props
Tryitter-RD/obj/Tryitter-RD.csproj.nuget.g.targets
Tryitter-RD.Project.Test/obj/project.assets.json
Tryitter-RD.Project.Test/obj/project.nuget.cache
Tryitter-RD.Project.Test/obj/Tryitter-RD.Project.Test.csproj.nuget.dgspec.json
Tryitter-RD.Project.Test/obj/Tryitter-RD.Project.Test.csproj.nuget.g.props
Tryitter-RD.Project.Test/obj/Tryitter-RD.Project.Test.csproj.nuget.g.targets
Tryitter-RD/bin/Debug/net6.0/appsettings.Development.json
Tryitter-RD/bin/Debug/net6.0/appsettings.json
Tryitter-RD/bin/Debug/net6.0/EntityFramework.dll
Tryitter-RD/bin/Debug/net6.0/EntityFramework.SqlServer.dll
Tryitter-RD/bin/Debug/net6.0/Microsoft.OpenApi.dll
Tryitter-RD/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
Tryitter-RD/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
Tryitter-RD/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Tryitter-RD/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Tryitter-RD/bin/Debug/net6.0/System.CodeDom.dll
Tryitter-RD/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
Tryitter-RD/bin/Debug/net6.0/System.Data.SqlClient.dll
Tryitter-RD/bin/Debug/net6.0/System.Drawing.Common.dll
Tryitter-RD/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
Tryitter-RD/bin/Debug/net6.0/System.Security.Permissions.dll
Tryitter-RD/bin/Debug/net6.0/System.Windows.Extensions.dll
Tryitter-RD/bin/Debug/net6.0/Tryitter-RD
Tryitter-RD/bin/Debug/net6.0/Tryitter-RD.deps.json
Tryitter-RD/bin/Debug/net6.0/Tryitter-RD.dll
Tryitter-RD/bin/Debug/net6.0/Tryitter-RD.pdb
Tryitter-RD/bin/Debug/net6.0/Tryitter-RD.runtimeconfig.json
Tryitter-RD/bin/Debug/net6.0/ref/Tryitter-RD.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
Tryitter-RD/bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
Tryitter-RD/obj/staticwebassets.pack.sentinel
Tryitter-RD/obj/Debug/net6.0/apphost
Tryitter-RD/obj/Debug/net6.0/staticwebassets.build.json
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.csproj.AssemblyReference.cache
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.csproj.CopyComplete
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.csproj.CoreCompileInputs.cache
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.csproj.FileListAbsolute.txt
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.dll
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.GeneratedMSBuildEditorConfig.editorconfig
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.genruntimeconfig.cache
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.MvcApplicationPartsAssemblyInfo.cache
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.MvcApplicationPartsAssemblyInfo.cs
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.pdb
Tryitter-RD/obj/Debug/net6.0/ref/Tryitter-RD.dll
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.csproj.AssemblyReference.cache
Tryitter-RD/obj/Debug/net6.0/Tryitter-RD.GeneratedMSBuildEditorConfig.editorconfig
Tryitter-RD/Program.cs
